<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/navbar.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <script src="/components/navbar.js" defer></script>
    <link rel="stylesheet" href="/components/home/index.css">   
     <title>Home</title>
    <style>
       
    </style>
     <script src="https://kit.fontawesome.com/28b8411688.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav id="navbar"></nav>
    <div id="displayContainer">
       
           <div id="top">
               <img src="https://www.pluralsight.com/content/pluralsight/en/global/promos/tech-bingo/jcr:content/main/promo_wrapper_copy/parsys/generic_block_108870/parsys/generic_block_copy_c/parsys/generic_block_363416/parsys/columns/column-parsys-1/animation_wrapper/parsys/image/image-res.img.e3483d8a-f5e4-4639-99e4-548f19a5db47.png" alt="">
               
           </div>
        <div id="box">
            <div><h1  id="heading">Build better &nbsp<span class="add"></span> </h1></div>
            <div id="para">Face the future with confidence—and with the skills and tools to thrive.</div>
            <div id="buttons"><button id="button1"><a href="">VIEW PLANS</a></button>
                <BUtton id="button2"><a href="">TRY FOR FREE</a></BUtton></div>
                
        </div>
        <div id="para2">HELPING THOUSANDS OF ORGANIZATIONS BUILD TECH SKILLS AT SCALE</div>
               
        <div id="logos">
            <div>
                <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/adp.png" alt="ADP">
            </div>
            <div>
                <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/adobe.png" alt="">
            </div>
            <div>
                <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/vmware.png" alt="">
            </div>
            <div>
                <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/fujitsu.png" alt="">
            </div>
            <div>
                <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/nasdaq.png" alt="">
            </div>
        </div>
        <!-- VERTICAL RULE -->
        <div id="horizantal"></div>

        <!-- TECHNOLOGIES -->
        <DIV id="technologiesContainer">
            <div id="techHeading"><h4  style="color: rgb(228,0,132);">TRENDING TECHNOLOGIES</h4></div>
            <div id="popular"><h1>Popular topics to learn now</h1></div>

            <div id="techMain">
                <div id="main1">
                        <div id="child1" class="child" >
                                <div>
                                    <a style="color: rgb(228,0,132);" href="">PATH</a>
                                    <a href="">JavaScript</a>
                                    <a href="">11 <span>Courses</span> </a>
                                    <a href="">Take a lok ></a>
                                </div>
                                <div><a href=""><img id="js" src="https://pluralsight2.imgix.net/paths/images/javascript-542e10ea6e.png" alt=""></a></div>
                        </div>


                        <div id="child2" class="child">
                            <div>
                                <a style="color: rgb(228,0,132);" href="">PATH</a>
                            <a href="">Angular</a>
                            <a href="">14 <span>Courses</span></a>
                            <a href="">Take a lok ></a>
                            </div>
                            <div><a href=""><img id="js" src="https://pluralsight.imgix.net/paths/path-icons/angular-14a0f6532f.png" alt=""></a></div>
                        </div>
                </div>

                <div id="main1">
                    <div id="child1" class="child" >
                            <div>
                                <a style="color: rgb(228,0,132);" href="">PATH</a>
                                <a href="">Core Phython</a>
                                <a href="">12 <span>Courses</span></a>
                                <a href="">Take a lok ></a>
                            </div>
                            <div><a href=""><img id="js" src="https://pluralsight.imgix.net/paths/python-7be70baaac.png" alt=""></a></div>
                    </div>


                    <div id="child2" class="child">
                        <div>
                            <a style="color: rgb(228,0,132);" href="">PATH</a>
                            <a href="">C#</a>
                            <a href="">19 <span>Courses</span></a>
                            <a href="">Take a lok ></a>
                        </div>
                        <div><a href=""><img id="js" src="https://pluralsight.imgix.net/paths/path-icons/csharp-e7b8fcd4ce.png?" alt=""></a></div>
                    </div>
            </div>

            
                
            </div>
        </DIV>
        
        <!-- WHAT'S NEW -->
        <div id="newContainer">
            <div id="whatsnew">
                <h4  style="color: rgb(228,0,132);">SEE WHAT'S NEW</h4>
                <h1>Our latest features</h1>
                <div id="skillLabsParent">
                    <div id="skillLeft">
                            <div id="skillHeading">
                                <img src="https://www.pluralsight.com/content/dam/pluralsight2/product/v2/logos/logo-skills.png" alt="">
                                <h3>LABS</h3>
                            </div>
                            <div> <h1 style="margin: 2rem;font-size: 3rem;">Deepen your people's expertise with hands-on labs</h1></div>
                            <div><h2 style="font-size:1.5rem;">Improve your teams’ confidence in their ability to deliver on business objectives by building the right skills that meet your org’s needs. Pluralsight offers 950+ labs that enable hands-on practice in secure environments across domains such as cloud (AWS, GCP and Azure), IT Ops, security, data and software development.</h2></div>
                            <div><h3 style="margin-top: 20px;"><a href="">Learn More ></a></h3></div>
                    </div>
                    <div id="skillright">
                        <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/Cloud-labs-image2x.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
 let head= document.querySelector(".add")
 let arr=["skills","teams","Products","skills","workflows","processes"]
 head.innerHTML=arr[0]
 let sum=1;
 function myfunction(){
    if(sum==arr.length){
        sum=0;
    }else{
        head.innerHTML=arr[sum++]
    }
    //  if(sum==0){
    //     head.innerHTML=" "+"teams"
    //     sum++
    //  }
    // else if(sum==1){
    //    head.innerHTML=" "+"Products"
    //    sum++
    // }else if(sum==2){
    //    head.innerHTML=" "+"skills"
    //    sum++
    // }else if(sum==3){
    //    head.innerHTML=" "+"workflows"
    //    sum++
    // }else if(sum==4){
    //    head.innerHTML=" "+"processes"
    //    sum++
    // }else{
    //     sum=0;
    // }
     
 }
 setInterval(myfunction,2000)
   
</script>
<script type="module">
    import navbar from "/components/navbarhtml.js";
    let navbars = document.getElementById("navbar");
    navbars.innerHTML = navbar();
  
    
  </script>