<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">   
     <title>Document</title>
    <style>
       
    </style>
     <script src="https://kit.fontawesome.com/28b8411688.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="displayContainer">
        <div id="nav">
            <div id="left">
                <p><img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/global/header/PS_logo.png" alt=""></p>
                <p>Platform <i class="fa-solid fa-angle-down"></i></p>
                <p>Products <i class="fa-solid fa-angle-down"></i></p>
                <p>Resource <i class="fa-solid fa-angle-down"></i></p>
                <p>For Individuals</p>
              
            </div>
            <div id="right">
                <p> <i class="fa-solid fa-magnifying-glass"></i></p>
                <p>Sign in<i class="fa-solid fa-angle-down"></i></p>
                <p><button>Try For Free</button></p>
            </div>
        </div>
           <div id="top">
               <img src="https://www.pluralsight.com/content/pluralsight/en/global/promos/tech-bingo/jcr:content/main/promo_wrapper_copy/parsys/generic_block_108870/parsys/generic_block_copy_c/parsys/generic_block_363416/parsys/columns/column-parsys-1/animation_wrapper/parsys/image/image-res.img.e3483d8a-f5e4-4639-99e4-548f19a5db47.png" alt="">
               
           </div>
        <div id="box">
            <div id="heading"><h1>Build better </h1></div>
            <div id="para">Face the future with confidence—and with the skills and tools to thrive.</div>
            <div id="buttons"><button id="button1"><a href="">VIEW PLANS</a></button>
                <BUtton id="button2"><a href="">TRY FOR FREE</a></BUtton></div>
                
        </div>
        <div id="para2">HELPING THOUSANDS OF ORGANIZATIONS BUILD TECH SKILLS AT SCALE</div>
               
        <div id="logos">
            <div>
                <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/adp.png" alt="ADP">
            </div>
            <div>
                <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/adobe.png" alt="">
            </div>
            <div>
                <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/vmware.png" alt="">
            </div>
            <div>
                <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/fujitsu.png" alt="">
            </div>
            <div>
                <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/nasdaq.png" alt="">
            </div>
        </div>
        <!-- VERTICAL RULE -->
        <div id="horizantal"></div>

        <!-- TECHNOLOGIES -->
        <DIV id="technologiesContainer">
            <div id="techHeading"><h4  style="color: rgb(228,0,132);">TRENDING TECHNOLOGIES</h4></div>
            <div id="popular"><h1>Popular topics to learn now</h1></div>

            <div id="techMain">
                <div id="main1">
                        <div id="child1" >
                                <div>
                                    <h5 ><a style="color: rgb(228,0,132);" href="">PATH</a></h5>
                                    <h3><a href="">JavaScript</a></h3>
                                    <h4><a href="">11 Courses</a></h4>
                                    <h4><a href="">Take a lok ></a></h4>
                                </div>
                                <div><a href=""><img id="js" src="https://pluralsight2.imgix.net/paths/images/javascript-542e10ea6e.png" alt=""></a></div>
                        </div>


                        <div id="child2" >
                            <div>
                                <h5  ><a style="color: rgb(228,0,132);" href="">PATH</a></h5>
                                <h3><a href="">Angular</a></h3>
                                <h4><a href="">14 Courses</a></h4>
                                <h4><a href="">Take a lok ></a></h4>
                            </div>
                            <div><a href=""><img id="js" src="https://pluralsight.imgix.net/paths/path-icons/angular-14a0f6532f.png" alt=""></a></div>
                        </div>
                </div>

                <div id="main1">
                    <div id="child1" >
                            <div>
                                <h5  ><a style="color: rgb(228,0,132);" href="">PATH</a></h5>
                                <h3><a href="">Core Phython</a></h3>
                                <h4><a href="">12 Courses</a></h4>
                                <h4><a href="">Take a lok ></a></h4>
                            </div>
                            <div><a href=""><img id="js" src="https://pluralsight.imgix.net/paths/python-7be70baaac.png" alt=""></a></div>
                    </div>


                    <div id="child2" >
                        <div>
                            <h5  ><a style="color: rgb(228,0,132);" href="">PATH</a></h5>
                            <h3><a href="">C#</a></h3>
                            <h4><a href="">19 Courses</a></h4>
                            <h4><a href="">Take a lok ></a></h4>
                        </div>
                        <div><a href=""><img id="js" src="https://pluralsight.imgix.net/paths/path-icons/csharp-e7b8fcd4ce.png?" alt=""></a></div>
                    </div>
            </div>

            
                
            </div>
        </DIV>
        
        <!-- WHAT'S NEW -->
        <div id="newContainer">
            <div id="whatsnew">
                <h4  style="color: rgb(228,0,132);">SEE WHAT'S NEW</h4>
                <h1>Our latest features</h1>
                <div id="skillLabsParent">
                    <div id="skillLeft">
                            <div id="skillHeading">
                                <img src="https://www.pluralsight.com/content/dam/pluralsight2/product/v2/logos/logo-skills.png" alt="">
                                <h3>LABS</h3>
                            </div>
                            <div><h1> <h1>Deepen your people's expertise with hands-on labs</h1></h1></div>
                            <div><p style="font-size: medium;">Improve your teams’ confidence in their ability to deliver on business objectives by building the right skills that meet your org’s needs. Pluralsight offers 950+ labs that enable hands-on practice in secure environments across domains such as cloud (AWS, GCP and Azure), IT Ops, security, data and software development.</p></div>
                            <div><h3 style="margin-top: 20px;"><a href="">Learn More ></a></h3></div>
                    </div>
                    <div id="skillright">
                        <img src="https://www.pluralsight.com/content/dam/pluralsight2/homepage/Cloud-labs-image2x.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>

function myfunction(){
            document.querySelector("h1").append("skills")
           
        }

        setTimeout(myfunction,1000)

        ////


</script>