#displayContainer{
    margin: auto;
    /* box-sizing: border-box; */
width: 100%;
background-color:black;

border:1px solid red;
}
#nav{
    display:flex;
    justify-content: space-between;
    width:100%;
    /* border:1px solid red; */
    background-color: rgb(34,34,34);
    position:fixed;
    margin-top :-10px;
}
#left{
    display:flex;
    justify-content: space-around;
    color:white;
    /* border:1px solid red; */
    width:50%;
    font-size: 18px;
}
#left>p>img{
    height:40px;
}
#right{
    display:flex;
    justify-content: space-around;
    color:white;
    /* border:1px solid red; */
    width:28%;
    font-size: 18px;
}
p>button{
    border:1px solid white;
    background-color:rgb(34,34,34);
    color:white;
    font-size: 16px;
}
#top>img{
    width:100%;
    margin-top: 70px;
}
#box{
    /* background-color: black; */
    color: white;
    background-image: url("https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/hero-illustration.png");
    background-size:100%;
    border:2px solid black;
    width: 100%;
    font-family: 'PS Commons';
    display: block;
    justify-content: center;
    box-sizing: border-box;
height:450px;
    margin: auto;
}
#heading{
display: flex;
justify-content: center;
font-size: 30px;
/* border:2px solid green; */
box-sizing: border-box;
margin-top: 200px;
}
#para{
    display: flex;
    margin: auto;
    justify-content: center;
    /* border: 2px solid yellow; */
    font-size: 18px;
}
#buttons{
    display: flex;
    justify-content: center;
    padding-top: 30PX;
    margin-top: 10px;

}
#buttons>#button1{
    margin-right: 40PX;
    background-color: rgb(239,77,54);
    border: none;
    padding:20px;
    font-size: 15px;
}
#buttons>button{
background-color: black;
    color: white;
    font-weight: 600;
    padding: 10px;
border: 1px solid white;
}
#para2{
    display: flex;
    justify-content: center;
    padding-top: 10PX;
    opacity: 0.6;
    font-family: 'PS Commons Bold';
    margin-bottom: 10px;
    margin: 30px;
    box-sizing: border-box;
    color:white;
    font-weight: bold;
    font-size: 18px;
}
#logos{
    display: flex;
    margin: auto;
    justify-content: space-between;
    box-sizing: border-box;
    /* border:1px solid red; */
    width:60%;
    margin-top: -20px;
}

#horizantal{
    height: 150px;
    width: 7px;
    box-sizing: border-box;
background-color: rgb(236,1,139);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
#technologiesContainer{
    background-color: black;
    width: 70%;
    color: white;
    box-sizing: border-box;
margin: auto;
}
#techHeading,  #popular{
    margin-left: 25px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#main1{
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-bottom: 30PX;

}
a{
    text-decoration: none;
    color: white;
}
#child1,#child2{
    display: flex;
    line-height: 6px;
    box-sizing: border-box;
    width: 45%;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(34,34,34);
}
#js{
    width: 100px;
    height: 100px;
}
#newContainer{
    background-color: rgb(24,24,24);
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    background-color: rgb(24,24,24);
    box-sizing: border-box;
    margin-top: 100px;
}
#whatsnew{
width: 97%;
margin: auto;
box-sizing: border-box;
}
#skillLabsParent{
display: flex;
box-sizing: border-box;
}
#skillLeft{
background-color: rgb(34,34,34);
/* padding: 40px 10px 20px 0px; */
padding-top: 40px;
padding-left: 20px;
padding-right: 20px;
box-sizing: border-box;
}
#skillRight{
box-sizing: border-box;
}
#skillright>img{
width: 650px;
height: 100%;
}
#skillHeading{
display: flex;
box-sizing: border-box;
margin-bottom: -15px;
}
#skillHeading>img{
width: 115px;
height: 20px;
margin-right: 15px;
}
#skillHeading>h3{
margin-top: -1px;
}