* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "PS Commons", sans-serif;
  }
  body{
      background-color: black;
  }
  .main_skill {
    position: absolute;
    top: 100px;
    
    height: 100vh;
    width: 100%;
  }
  .main_skill img {
    position: absolute;
    right: 0px;
    width: 70%;
  }
  .content .logo_skil img {
    position: absolute;
    width: 12%;
    left: 2%;
    top: 10%;
  }
  .design img {
    position: absolute;
    left: 2%;
    top: 10%;
    width: 17%;
  }
  .skill_text {
    position: absolute;
    color: white;
    left: 7%;
    top: 22%;
    width: 60%;
   
  }
  .skill_text h1 {
    width: 90%;
    font-size: 4rem;
    font-weight: 1000;
    line-height: 65px;
    margin-bottom: 20px;
  }
  .skill_text h4 {
    width: 80%;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    background-image: linear-gradient();
    transition: all 0.6s ease-in-out;
  }
  .skill_btn {
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    width: 300px;
    color: white;
    transition: all 0.6s ease-in-out;
    background-image: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
    cursor: pointer;
  }
  .remain_skill{
      color: white;
      position: absolute;
      top: 40rem;
      background-color: #222222;
      margin: 2%;
      border-radius: 15px;
      padding: 2%;
      width: 100%;
      height: auto;
  }
 .header {
     display: block;
     text-align: center;
 }
 .header h3{
     color: #ec008c;
     letter-spacing: 1px;
     margin-bottom: 2rem;
 }
 .header div{
     font-size: 3rem;
     font-weight: 700;
     margin-bottom: 4rem;
 }
 .greet{
     display: flex;
     justify-content: space-between;
     
 }
 .greet_left{
     width: 50%;
     padding: 1%;
 }
 .greet_left img{
   position: static;
     left: 1rem;
    width:100%;
    margin-left: 1rem;
 }
 .greet_left h2{
     font-size: 2.5rem;
     width: 70%;
     line-height: 4rem;
 }
 .greet_left h5{
     color: rgb(203, 193, 193);
     font-size: 1.5rem;
     font-weight: 500;
     line-height: 2rem;
     margin-bottom: 1rem;
 }
 .greet_left i{
     font-size: 1.5rem;
     font-weight: 500;
     
 }
 .greet_right{
     width: 50%;
     padding: 2%;
     margin: 1%;
 }
 .greet_right h5{
  color: #ec008c;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 1rem;
 }
 .greet_right h2{
     font-size: 2.5rem;
     line-height: 3rem;
     font-weight: 700;
   margin-bottom: 1rem;
 }
 .greet_right h6{
     font-size: 1.5rem;
     color: gray;
     font-weight: 500;

 }
 .list_item{
     display: flex;
     justify-content: space-between;
     font-size: 1.5rem;
     margin-top: 2rem;
     padding-left: 1%;
 }
 .list_item li{
     margin-bottom: 1rem;
     color: gray;
 }
 .last_text {
     margin-top: 9rem;
 }
 .last_text h5{
     color: rgb(203, 193, 193);

 }
 .last_text i{
   font-size: 1.5rem;

 }