<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="courses.css">
<style>
   
</style>
</head>
<body>
<div><img src="https://www.pluralsight.com/content/pluralsight/en/global/promos/tech-bingo/jcr:content/main/promo_wrapper_copy_c/parsys/generic_block_108870_2137438330/parsys/generic_block_363416/parsys/columns/column-parsys-1/animation_wrapper/parsys/image/image-res.img.c856ede7-6dbf-4a82-a798-36a3ecf7d5c6.png" alt=""></div>
     <div id="MAJOR" style="margin-top:50px">
         <div id="skills">
             <div><img src="https://www.pluralsight.com/content/dam/pluralsight2/product/v2/logos/logo-skills.png" alt=""></div>
         </div>
         <div><h1><center><b> Thousands of courses authored by</b>
        <br>
        our network of industry experts
        </center></h1></div>
        <h1>Search</h1>
        <div id="search">
            <input type="text" placeholder="search">
            <div class="button">Sort by <img src="https://cdn.sstatic.net/Img/hero/anonymousHeroUpvote.svg?v=af2bb70d5d1b" alt=""></div>
            
        </div>
       
     </div>
<div id="mainDiv">
<div id="part1">
<button class="collapsible">Ways to learn <img class="dhundha" src="https://cdn.sstatic.net/Img/hero/anonymousHeroUpvote.svg?v=af2bb70d5d1b" alt=""></button>
<div class="content">
   <div><li><b>All</b></li></div>
   <div><b> <li> Core courses</b><li></b></div>
   <div><b> <li> Expanded courses</b></li></div>
   <div><b> <li> 
Labs
   </li> </b></div>
   
</div>
<button class="collapsible">Skills<img class="dhundha" src="https://cdn.sstatic.net/Img/hero/anonymousHeroUpvote.svg?v=af2bb70d5d1b" alt=""></button>
<div class="content">
   <div><b> <li> Advanced </li></b></div>
   <div><b> <li> Beginner </li></b></div>
   <div><b> <li> Intermediate</li></b></div>
   <div><b> <li> 
Labs
</li></b></div>
   
</div>
<button class="collapsible">Subject<img class="dhundha" src="https://cdn.sstatic.net/Img/hero/anonymousHeroUpvote.svg?v=af2bb70d5d1b" alt=""></button>
<div class="content">
   <div><b> <li> Architecture & construction</li></b></div>
   <div><b> <li> Business professional</li></b></div>
   <div><b> <li> 
Creative professional
</li></b></div>
   <div><li><b>Data professional</li></b>
</div>
<div><b><li>IT ops</li></b></div>
<div><b><li>Manufacturing & cyber security</li></b></div>
<div><b><li>Software development</li></b></div>
<div><b><li>Web development</li></b></div>
</div>
</div>

<div class="border"> 
    <div>
        <div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div> 
</div>   
</div>
</div>
<div>
    <h3><strong>C# 10 Fundamentals</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>WPF 6 Fundamentals</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>ASP.NET Core 6: Big Picture</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Ethical Hacking: Malware Threats</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Code Review: Best Practices</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>

    <div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>    <div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>
<div>
    <h3><strong>Dependency Injection in ASP.NET Core 6</strong></h3>
    <h4>by Steve Gardan</h4>
    <div class="expanded"> 
<strong><div>Expanded</div></strong>
<div>2h 42m </div>
<div class="dona">Intermediate <img src="https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/course/level.png" alt=""></div>
<div class="star">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star">(15)</i>
</div>    
</div>
</div>

</div>
</div>
<div id="bottom">
    <h3><b style="color: white;">Browse by link</b></h3>
   <div style="display: flex; justify-content: center;" id="bottom2">


    <div class="boxes4">
        <p style="margin-right: 50px ;"  class="software-development">Software Development</p>
   <li>Web Development</li>
   <li>Mobile Development</li>
   <li>JavaScript
</li>
   <li>C#</li>
   <li>Python</li>
   <li>Node.js</li>
   <li>View More ></li>
  <p class="software-development">
      Data professional
  </p>
  <p class="software-development">
    Architecture & Constructions
</p>
    </div>
    <div class="boxes4">
        <p style="margin-right: 50px ;"  class="software-development">IT Ops</p>
  
 <li>IT Certifications</li>
<li>Security</li>
<li>Database Administration</li>
<li>Virtualization</li>
<li>IT Networking</li>
<li>Servers</li>
<li>View more ></li>
  <p class="software-development">
    Business professional
  </p>
  <p class="software-development">
    Manufacturing & design
</p>

    </div>
    <div class="boxes4">
        <p style="margin-right: 50px ;"  class="software-development">Software Development</p>
        <li>Security Certifications</li>
        <li>Security Fundamentals</li>
        <li>Security Auditing</li>
        <li>Penetration Testing</li>
            <li>Digital Forensics</li>
            <li> Malware Analysis</li>
           <li>View more ></li>
        
       <p class="software-development">
           Creative professional
       </p>
      
    </div>
</div>
</div>

<script src="courses.js" >
   

    
    </script>
    
    </body>
    </html>
    